BRIDGE_MODE=OMNIBRIDGE

DEPLOYMENT_ACCOUNT_PRIVATE_KEY=adbcb3c80fd099391ce2ecd63a3475d57901f22cc9095229ab72a142b81f0665442e0129
DEPLOYMENT_GAS_LIMIT_EXTRA=0.2
HOME_DEPLOYMENT_GAS_PRICE=1500000000000000
FOREIGN_DEPLOYMENT_GAS_PRICE=10000000000

HOME_RPC_URL=https://testnet-rpc.bahamaschain.io
HOME_BRIDGE_OWNER=0x311934259DD73Be342ce0e3AC9E476e191F0e168
HOME_UPGRADEABLE_ADMIN=0x311934259DD73Be342ce0e3AC9E476e191F0e168
HOME_DAILY_LIMIT=30000000000000000000000000
HOME_MAX_AMOUNT_PER_TX=1500000000000000000000000
HOME_MIN_AMOUNT_PER_TX=500000000000000000

FOREIGN_RPC_URL=https://goerli.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161
FOREIGN_BRIDGE_OWNER=0x311934259DD73Be342ce0e3AC9E476e191F0e168
FOREIGN_UPGRADEABLE_ADMIN=0x311934259DD73Be342ce0e3AC9E476e191F0e168
FOREIGN_DAILY_LIMIT=15000000000000000000000000
FOREIGN_MAX_AMOUNT_PER_TX=750000000000000000000000
FOREIGN_MIN_AMOUNT_PER_TX=500000000000000000

#Set to BOTH_DIRECTIONS if fee will be charged on home side, set to false otherwise
HOME_REWARDABLE=false
# Only false is supported
FOREIGN_REWARDABLE=false

# Fee to be taken for every transaction directed from the Home network to the Foreign network
# E.g. 0.1% fee
HOME_TRANSACTIONS_FEE=0.001
# Fee to be taken for every transaction directed from the Foreign network to the Home network
FOREIGN_TRANSACTIONS_FEE=0.001

#If HOME_REWARDABLE is not false, list of accounts where rewards should be transferred separated by space without quotes
#E.g. HOME_MEDIATOR_REWARD_ACCOUNTS=0x 0x 0x
HOME_MEDIATOR_REWARD_ACCOUNTS=0x311934259DD73Be342ce0e3AC9E476e191F0e168

# Addresses of the AMB contracts on both sides of the bridge
HOME_AMB_BRIDGE=0xb02f515Eb656AB1bEa0b5E468289935ae53B24cE
FOREIGN_AMB_BRIDGE=0x3442e21ce6E36FFaD91D9B53B22F58DdD0760Af2

# Request gas limit to be used when passing a message to the other side of the bridge
HOME_MEDIATOR_REQUEST_GAS_LIMIT=1000000
FOREIGN_MEDIATOR_REQUEST_GAS_LIMIT=1000000

# Supported explorers: Blockscout, etherscan
# HOME_EXPLORER_URL=https://testnet-explorer.bahamaschain.io
HOME_EXPLORER_URL=
HOME_EXPLORER_API_KEY=

# Supported explorers: Blockscout, etherscan
# FOREIGN_EXPLORER_URL= https://goerli.etherscan.io/
FOREIGN_EXPLORER_URL=
FOREIGN_EXPLORER_API_KEY=

HOME_ERC677_TOKEN_IMAGE=
HOME_TOKEN_FACTORY=
HOME_FORWARDING_RULES_MANAGER=false

FOREIGN_ERC677_TOKEN_IMAGE=
FOREIGN_TOKEN_FACTORY=

# Suffixes appended to the token names on the bridged side
HOME_TOKEN_NAME_SUFFIX=" on Bahamas"
FOREIGN_TOKEN_NAME_SUFFIX=" on Mainnet"

HOME_WRAPPED_TOKEN_ADDRESS=0x213e08e1e012594Bf9ADd96D8925616E58075dcC
FOREIGN_NATIVE_CURRENCY=0x0Ba2B3884d0bFE1FcDf6b3E142b68DC36e022Cc7
